
{% extends 'extends/base.html' %}

<!-- Title -->
{% block title %} Medecine {% endblock %}

<!-- Header:Banner -->
{% block banner %} 
    <div class="p-5 text-center bg-body-tertiary">
        <h1 class="mb-3">Heading</h1>
        <h4 class="mb-3">Subheading</h4>
        <a data-mdb-ripple-init class="btn btn-primary" href="" role="button">Call to action</a>
    </div>
    <div class="mb-5"></div>
{% endblock %} 

<!-- Content  -->
{% block body %} 
<div class="container">
    <!-- Content here -->
    <!-- Medecine List -->
    <h3 class="text-center">MEDECINE</h3>
    <p class="count"> {{data|length}} Medecine</p>
    <div class="items">
        {% for medecine in data %}
            <div class="card shadow shadow-sm p-2 m-4 rounded" style="width: 18rem;">
                {% if medecine.img %}
                    <img class="card-img-top" src="{{medecine.img.url}}" alt="{{medecine.title}}">
                {% endif %}
                <div class="card-body " >
                    <h5 class="card-title">{{ medecine.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">{{ medecine.desc }}</p>
                    <button type="button" class="btn btn-primary shadow rounded" data-mdb-ripple-init>Button</button>
                </div>
            </div>
            <div class="divider"></div>
            {% empty %}
            <h2>Pas d'element</h2>
        {% endfor %}
    </ul>
  </div>
    

{% endblock %}
